name: Test
on:
  pull_request:
env:
  GO_VERSION: "1.17"
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Go pull request message linter
        uses: masahiro331/go-commitlinter@0.1.0
        env:
          PR: ${{ github.event.number }}
          ACTION: ${{ github.event.action }}
          EVENT: ${{ github.event }}
          TITLE: ${{ github.event.pull_request.title }}
          TITLE2: ${{ github.event.title }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}